.english-level p {
    padding: 1rem 4rem;
    font-family: "Times New Roman", serif;
    color: #C4C2C1;
}

.english-level h2 {
    padding: 1rem 6rem;
}

.english-level a {
    text-decoration: none;
    font-family: "Playfair Display", "Times New Roman", serif;
    color: #A8DBF4;
}

a:hover {
    color: #3b1763;
}